.headcontainer {
  background-color: green;
}

.topmenu {
  color: rgba(0, 0, 0, 0.75);
  float: center;
  width: 20%;
}

.menudots {
  display: none;
}

.bodycontainer {
  text-align: center;
}


.footcontainer {
  background-color: gray;
}
.footcontainer p {
  color: white;
}
