.all {
  padding: 0 100px;
  box-sizing: border-box;
}

.clear {
  clear: both;
}

.headcontainer {
  background-color: rgb(130, 190, 20);
}

.title {
  text-shadow: 2px 2px 2px gray;
}

.menubar {
  background-color: gray;
  text-align: center;
}

.menubox {
  margin:0 auto;
  width: 80%;
}

.topmenu {
  margin: auto;
  background-color: rgb(150, 150, 150);
  color: rgba(0, 0, 0, 0.75);
  float: left;
  width: 20%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.4);

}
.bodycontainer {
  border: 2px solid black;
}

.maincontents {
  background-color: red;
  background-size: cover;
  float: left;
  width: 70%;
}

.subcontents {
  background-color: blue;
  background-size: cover;
  float: right;
  width: 30%
}

.menudots {
  display: none;
  border: none;
}

.bodycontainer {
  text-align: center;
}

.footcontainer {
  background-color: gray;
}
.footcontainer p {
  color: white;
}
